@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
<img src="~/Image/farm_market_banner.png" style="width: 100%" />
</div>

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align: center">About Us</h2>
        <p>
            Good food shouldn’t be hard to find. That’s why it’s good food Milwaukee’s mission to connect eaters with local growers. By shopping for and eating locally produced food grown with sustainable  practices in mind, we can improve not just the health of our bodies, but also our environment, economy, and community.
        </p>
        <h2 style="text-align: center; color: #8b0162">
            @Html.ActionLink("Register Now" , "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})
            
            </h2>
    </div>
</div>